@model List<Lab.MVC.Models.PersonModel>

@{
    ViewBag.Title = "Swapi";
}

<h2>STAR WARS API</h2>

<table class="table table-hover table-dark" style="margin-bottom: 3rem";>
    <thead>
        <tr>
            <th>Name</th>
            <th>Homeworld</th>
            <th>Height</th>
            <th>Mass</th>
            <th>Eye color</th>
            <th>Hair color</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Homeworld</td>
                <td>@person.Height</td>
                <td>@person.Mass</td>
                <td>@person.Eye_Color</td>
                <td>@person.Hair_Color</td>
                <td>@person.Gender</td>
            </tr>
        }
    </tbody>
</table>
